body {
       font-family: Verdana, sans-serif; 
       margin:0; /*gives the complete look*/ 
       background: linear-gradient(rgba(19,25,70, 0.8), rgba(19,25,70, 0.8)), url("../../../index-image/sac-chair.jpg") no-repeat fixed center;
       background-size: 100%;
}